$color: #44c767;
$border: 1px solid #18ab29;

.button {
    background-color: $color;
    background-color: rgb(160, 133, 97);
    padding: 16px 31px;
    border-radius: 28px;
    border: $border;
    color: #ffffff;
}